@font-face {
  font-family: "Barlow";
  src: url(./font/Barlow/Barlow-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template: 10vh 90vh 100vh 100vh 100vh 100vh 100vh / 100vw;
  overflow-x: hidden;
  font-family: Barlow;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
}
header .logo {
  position: absolute;
  left: 10vw;
}
header .buttons {
  position: absolute;
  right: calc(10vw - 24px);
}
header nav {
  display: flex;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #808080;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header nav p::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 4px;
  background: transparent;
  border-radius: 30px;
  transform: translateY(30px) translateX(-200%);
}
header nav a:hover {
  color: #112b3c;
}
header nav a:hover > p::after {
  background: #e61c5d;
}
header .buttons .button1 {
  color: #808080;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  font-family: Barlow;
}
header .buttons .button2 {
  color: white;
  cursor: pointer;
  background: #e61c5d;
  border: transparent solid;
  border-radius: 45px;
  padding: 18px 24px;
  font-size: 20px;
  font-family: Barlow;
  margin-left: 30px;
}

#section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10vw;
}
#section1 article {
  width: 530px;
}
#section1 h1 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #112b3c;
  text-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
}
#section1 p {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #808080;
  margin: 32px 0;
}
#section1 .search {
  width: 469px;
  height: 80px;
  background: white;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
  border-radius: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
}
#section1 .search .location {
}
#section1 .search .barre {
}
#section1 .search .date {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section1 .search .date .content {
  margin-left: 10px;
  height: 38px;
  width: 71px;
}
#section1 .search .date .content input {
  width: 71px;
  height: 38px;
  font-size: 9999px;
  position: absolute;
  background: none;
  z-index: 1;
  opacity: 0;
}
#section1 .search .date .content div {
  display: flex;
  align-items: center;
  position: relative;
  top: -32px;
}
#section1 .search .date .content div p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #808080;
  margin-right: 8px;
}
#section1 .search .date .content .sortieDate {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #112b3c;
  position: relative;
  top: -87px;
}
#section1 .search .searchBouton {
  width: 48px;
  height: 48px;
  background: #e61c5d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
